<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<ul>
<li>{{.Name}}</li>
<li><img src="{{.Image}}" alt=""></li>
<li>CreationDate: {{.CreationDate}}</li>
<li>Members: {{.Members}}</li>
<li>CreationDate: {{.CreationDate}}</li>
<li>FirstAlbum: {{.FirstAlbum}}</li>
<li>upcoming conserts: {{.relation}}</li>
<li>CreationDate: {{.CreationDate}}</li>
<li>CreationDate: {{.CreationDate}}</li>
</ul>
    

</body>
</html>