<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ range .Artists }}
    <ul>
        <li>{{.Id}}</li>
        <li>{{.Name}}</li>
        <li><img src="{{.Image}}" alt=""></li>
        <li>{{.Members}}</li>
        <li>{{.CreationDate}}</li>
        <li>{{.FirstAlbum}}</li>
        <li>{{.Locations}}</li>
        <li>{{.ConcertDates}}</li>
        <li>{{.Relations}}</li>
    </ul>
    {{ end }}

</body>
</html>